*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #fff;
    color: #2638a0;
    position: relative;
    z-index: 1;
}

h1,h2,h3,h4{
font-weight: 500;
}


a{
    color: inherit;
    text-decoration: none;
}

img{
    max-width: 100%;
}

li{
    list-style-type: none;
}

.container{
    max-width: 120rem;
    margin: 0 auto;
}

.container-md{
    max-width: 135rem;
    margin: 0 auto;
}

@media only screen and(max-width: 1200px){
    .container{
        padding: 0 3rem;
    }

    .container-md{
        padding: 0 3rem;
    }
}

.header{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #d1e2e9;
    overflow: hidden;
}

.nav{
    padding: 1.6rem 0;
    background-color: #243a6f;
    color: #ffffff;
}

.nav.fix-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #243a6f;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.nav.fix-nav .nav-link,
.nav.fix-nav .logo,
.nav.fix-nav .cart-icon,
.nav.fix-nav .contact-icon,
.nav.fix-nav .hamburger{
    color: #fff;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1{
    font-size: 3rem;
    font-style: italic;
}

.top-nav{
    display: none;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-item:not(:last-child){
    margin-right: 0.5rem;
}

.nav-link:link,
.nav-link:visited{
    padding: 0.8rem 1rem;
    transition: all 300ms ease-in-out;
}

.nav-link.icon{
    font-size: 3rem;
}

.hamburger{
    display: none;
}

.cart-icon{
    display: none;
}

.contact-icon{
    display: none;
}


.right ul li a{
  display: flex;
  align-items: center;
  height: 26px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  cursor: pointer;
}

.right ul li i{
  display: flex;
  align-items: center;
  height: 70px;
  color: rgb(0, 217, 255);
}

.right a{
  text-align: right;
}

.right a span{
  font-size: 10px;
}

.right ul li{
  position: relative;
}

.right ul li .dropdown{
  position: absolute;
  top: 65px;
  right: 0;
  background: #243a6f;
  padding: 10px 25px;
  border-radius: 5px;
  display: none;
}

.right ul li .dropdown .fas{
  margin-right: 10px;
}

.right ul li .dropdown:before{
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid;
  border-color: transparent transparent #fff transparent;
}

.right ul li.active .dropdown{
  display: block;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@media only screen and (max-width: 768px){
    .menu{
        position: fixed;
        top: 0;
        left: -100%;
        width: 80%;
        max-width: 40rem;
        height: 100%;
        background-color: #fff;
        transition: all 500ms ease-in-out;
        z-index: 100;
    }

    .menu.show{
        left: 0;
    }

    .top-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #243a6f;
        padding: 1rem 1.6rem;
    }

    .top-nav .logo{
        color: #fff;
    }

    .top-nav .close{
        color: #fff;
        font-size: 3rem;
        padding: 1rem;
        cursor: pointer;
    }

    .cart-icon{
        display: block;
        font-size: 3rem;
    }

    .contact-icon{
        display: block;
        font-size: 3rem;
    }

    .hamburger{
        display: block;
        font-size: 3rem;
        padding: 5rem;
        cursor: pointer;
    }

    .nav-list{
        flex-direction: column;
        align-items: start;
        padding: 1rem 1.6rem;
    }

    .nav-link:link,
    .nav-link:visited{
        display: block;
        font-size: 1.7rem;
        padding: 1rem 0;
    }

    .nav.fix-nav .nav-link{
        color: #243a6f;
    }

    .nav-link.icon{
        display: none;
    }

    body.show::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 4;
    }

    .nav.show{
        background-color: rgba(0, 0, 0, 0.8);
    }
}





/* Dashborad */

.cardBox{
  position: relative;
  width: 70%;
  padding: 90px;
  display: grid;
  padding-top: 50px;
  padding-bottom: 30px;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 60px;
  margin-left: 15%;
}

.cardBox .card{
  position: relative;
  background: #fff;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 10px;
}

.cardBox .card .numbers{
  position: relative;
  font-size: 1.8em;
  font-weight: 500;
  color: #181818;
}

.cardBox .card .cardName{
  color: #999;
  font-size: 1em;
}

.cardBox .card .iconBox{
  font-size: 3em;
  color: #2638a0;
}


.details{
  position: relative;
  width: 100%;
  padding: 90px;
  padding-top: 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2,1fr);
  
}

.details .recentOrders{
  position: relative;
  min-height: 380px;
  background: #fff;
  padding: 20px;
  width: 870px;
  border-radius: 10px;
}

.cardHeader{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2%;
}

.cardHeader h2{
  font-weight: 600;
}

.btn{
  position: relative;
  padding: 5px 10px;
  background: #243a6f;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
}

.details table{
  width: 100%;
  border-collapse: collapse;
}

.details table thead td{
  font-weight: 600;
  padding-top: 100px;
}

.details .recentOrders table tr{
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.details .recentOrders table tbody tr:last-child{
  border-bottom: none;
}

.details .recentOrders table tr td{
  padding: 9px 5px;
  color: #181818;
}

.details .recentOrders table tr td a {
  color: orangered;
  font-size: 1.5rem;
}

.details .recentOrders table thead tr td:last-child,
.details .recentOrders table tbody tr td:last-child{
  text-align: right;
}


.status{
  position: relative;
  padding: 2px 4px;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
}

.details .recentCustomers{
  position: relative;
  min-height: 380px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.details .recentCustomers .cardHeader{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2%;
}

.details .recentCustomers table tr{
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.details .recentCustomers table tbody tr:last-child{
  border-bottom: none;
}

.details .recentCustomers table tr td{
  padding: 9px 5px;
  color: #181818;
}

.details .recentCustomers table thead tr td:last-child,
.details .recentCustomers table tbody tr td:last-child{
  text-align: right;
}

.details .recentCustomers table thead tr td:nth-child(2),
.details .recentCustomers table tbody tr td:nth-child(2){
  text-align: right;
  padding-right: 20px;
}




/* Table */

.head .btn{
  position: relative;
  padding: 5px 10px;
  margin-left: 59%;
  background: #f60091;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
}

.head h1{
  font-size: 2.5rem;
  display: inline-block;
  position: relative;
  z-index: 0;
  margin-left: 10%;
  margin-top: 2%;
}

.head h1::after {
  content: "";
  position: absolute;
  left: 26%;
  bottom: -20%;
  transform: translate(-50%, -50%);
  background-color: #f60091;
  width: 50%;
  height: 0.4rem;
  z-index: 1;
}

.cart {
  margin: 50px auto;
  border-radius: 5px 5px 0 0;
  border-color: #243a6f;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.cart table {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

.cart-info p{
  font-size: 1.4rem;
  color: #2638a0;
}

.cart-info span{
  font-size: 1.3rem;
  color: #000000;
}

.cart th {
  text-align: center;
  padding: 1.2rem;
  color: #fff;
  background-color: #243a6f;
  font-weight: 600;
  font-size: 1.6rem;
  border-radius: 5px 5px 0 0;
}

.cart td {
  padding: 1rem 0.5rem;
  border-radius: 5px 5px 0 0;
  border-color: #243a6f;
  text-align: center;
}

.cart td input {
  width: 5rem;
  height: 3rem;
  padding: 0.5rem;
}

.cart td a {
  color: orangered;
  font-size: 1.5rem;
}

.cart td img {
  width: 18rem;
  height: 12rem;
  margin-right: 1rem;
  background-color: rgb(219, 219, 219);
  border-radius: 5px 5px 5px 5px;
}

.cart td:first-child,
.cart th:first-child{
  text-align: left;
}

.cart tbody tr {
  border-bottom: 1px solid #dddddd;
}

.cart tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}


@media only screen and (max-width: 567px) {
  .cart-info p {
    display: none;
  }
}



/* change status */


.cancel td img {
  width: 8rem;
  height: 8rem;
  margin-right: 1rem;
  background-color: rgb(219, 219, 219);
  border-radius: 5px 5px 5px 5px;
}

.head h1{
  font-size: 2.1rem;
  display: inline-block;
  position: relative;
  z-index: 0;
  margin-top: 2%;
}

.head h1::after {
  content: "";
  position: absolute;
  left: 26%;
  bottom: -20%;
  transform: translate(-50%, -50%);
  background-color: #f60091;
  width: 50%;
  height: 0.4rem;
  z-index: 1;
}


.head .btn{
  position: relative;
  padding: 5px 10px;
  margin-left: 67%;
  background: #f60091;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
}

.myacc {
  margin: 30px auto;
  margin-left: 1px;
  border-radius: 5px 5px 0 0;
  border-color: #243a6f;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.cancel {
  margin: 30px auto;
  margin-left: 100px;
  border-radius: 5px 5px 0 0;
  border-color: #243a6f;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.reason {
  margin: 30px auto;
  margin-left: 405px;
  width: 45%;
  border-radius: 5px 5px 5px 5px;
  border-color: #243a6f;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.reason label{
  font-size: 1.9rem;
  font-weight: 500;
  margin-left: 30px;
  margin-top: 20px;
}

.reason textarea{
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 1.7rem;
}

.reasonbtn .btn{
  position: relative;
  padding: 15px 45px;
  margin-left: 42%;
  background: #f60091;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  border-color: #f60091;
  margin-top: 3px;
}

.billd{
  margin: 20px auto;
  margin-left: 1px;
  padding: 20px 40px;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.billd td{
  text-align: left;
}


.billd table{
  padding: 300px 120px;
}

.billd th{
  padding: 0.8rem 0;
  color: rgb(0, 0, 0);
  background-color: #fff;
  font-weight: 600;
  font-size: 1.7rem;
}

table {
  width: 100%;
  border-radius: 5px 5px 0 0;
}


.myacc-info {
  display: flex;
  flex-wrap: wrap;
}

.myacc-info p{
  font-size: 1.4rem;
  color: #2638a0;
}

.myacc-info span{
  font-size: 1.3rem;
  color: #000000;
}

.myacc th {
  text-align: center;
  padding: 1.2rem;
  color: #fff;
  background-color: #243a6f;
  font-weight: 600;
  font-size: 1.6rem;
  border-radius: 5px 5px 0 0;
}

.myacc td {
  padding: 1rem 0.5rem;
  border-radius: 5px 5px 0 0;
  border-color: #243a6f;
  text-align: center;
}

.cancel th {
  text-align: center;
  padding: 1.2rem;
  color: #fff;
  background-color: #243a6f;
  font-weight: 600;
  font-size: 1.6rem;
  border-radius: 5px 5px 0 0;
}

.cancel td {
  padding: 1rem 0.5rem;
  border-radius: 5px 5px 0 0;
  border-color: #243a6f;
  text-align: center;
}

.myacc td input {
  width: 5rem;
  height: 3rem;
  padding: 0.5rem;
}

.myacc td a {
  color: orangered;
  font-size: 1.5rem;
}

.myacc td img {
  width: 8rem;
  height: 8rem;
  margin-right: 1rem;
  background-color: rgb(219, 219, 219);
  border-radius: 5px 5px 5px 5px;
}

.myacc tbody tr,
.billd tbody tr,
.cancel tbody tr {
  border-bottom: 1px solid #dddddd;
}

@media only screen and (max-width: 567px) {
  .myacc-info p {
    display: none;
  }
}


.reason {
  margin: 30px auto;
  margin-left: 405px;
  width: 45%;
  border-radius: 5px 5px 5px 5px;
  border-color: #243a6f;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.reason label{
  font-size: 1.9rem;
  font-weight: 500;
  margin-left: 30px;
  margin-top: 20px;
}

.reason textarea{
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 1.7rem;
}

.reasonbtn .btn{
  position: relative;
  font-size: 2rem;
  font-weight: 520;
  padding: 15px 45px;
  margin-left: 42%;
  background: #243a6f;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  border-color: #243a6f;
  margin-top: 3px;
}




/* Footer */

.footer {
    background-color: rgb(0, 0, 0);
    padding: 5px 100px;
    width: 100%;
    height: auto;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }

.footer .container{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
  
.footer .container .section{
    margin-right: 30px;
}

.footer .container .section.aboutus{
    width: 40%;
}

.footer .container h2{
    position: relative;
    color: #fff;
    font-weight: 400;
    margin-bottom: 15px;
}

.footer .container h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f60091;
}

.footer p{
    color: #999;
}

.sci{
    margin-top: 20px;
    display: flex;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.sci li a:hover{
    background: #f60091;
}

.sci li a .bx{
    color: rgb(230, 230, 230);
    font-size: 35px;
}

.quicklinks{
    position: relative;
    width: 22%;
}

.quicklinks ul li{
    list-style: none;
}

.quicklinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quicklinks ul li a:hover{
    color: #f60091;
}

.contactus{
    width: 28%;
    margin-right: 100px;
}

.contactus .info{
    position: relative;
}

.contactus .info li{
    display: flex;
    margin-bottom: 16px;
}

.contactus .info li span:nth-child(1){
    color: #fff;
    font-weight: 20px;
    margin-right: 10px;
}

.contactus .info li span{
    color: #999;
}

.contactus .info li a{
    color: #999;
    text-decoration: none;
}

.contactus .info li a:hover{
    color: #f60091;
}

.copyrights{
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}
  
  @media only screen and (max-width: 991px) {
    .footer{
      padding: 40px;
    }
    .footer .container{
        flex-direction: column;
    }
    .footer .container .section{
        margin-right: 0;
        margin-bottom: 40px;
    }
    .footer .container .section .aboutus,
    .quicklinks,
    .contactus{
        width: 100%;
    }
    .copyrights{
        padding: 8px 40px;
    }
  }


  

/* Profile */

.profile-container{
  background: #fff;
  width: 540px;
  height: 460px;
  margin: 0 auto;
  position: relative;
  margin-top: 6%;
  margin-bottom: 6%;
  box-shadow: 2px 5px 20px rgba(119,119,119,0.5);
}

.profile-container .leftbox {
  float: left;
  top: -5%;
  left: 5%;
  position: absolute;
  width: 15%;
  height: 110%;
  background: #243a6f;
  box-shadow: 3px 3px 10px rgba(119,119,119,0.5);
  border: .1em solid #fff;
}

.profile-container .leftbox nav a {
  list-style: none;
  padding: 25px;
  color: #fff;
  font-size: 2.1em;
  display: block;
  transition: all .3s ease-in-out;
}

.profile-container .leftbox nav a:hover{
  color: #fc7c7c;
  cursor: pointer;
  transform: scale(1.2);
}

.profile-container .leftbox nav a:first-child{
  margin-top: 7px;
}

.profile-container .leftbox nav a.active{
  color: #fc7c7c;
}

.profile-container .rightbox {
  width: 60%;
  margin-left: 27%;
  padding-top: 5px;
}

.profile-container .rightbox .tabshow{
  transition: all .5s ease-in;
  width: 80%;
  position: absolute;
}

.profile-container .rightbox h1{
  font-size: 2.5rem;
  display: inline-block;
  position: relative;
  z-index: 0;
  margin-top: 10px;
  margin-bottom: 30px;
}

.profile-container .rightbox h1::after {
  content: "";
  position: absolute;
  left: 26%;
  bottom: -20%;
  transform: translate(-50%, -50%);
  background-color: #f60091;
  width: 50%;
  height: 0.4rem;
  z-index: 1;
}

.profile-container .rightbox h2 {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  margin-left: 2px;
  margin-top: 5px;
}

.profile-container .rightbox .input{
  border: 0;
  border-bottom: 1px solid #243a6f;
  width: 80%;
  font-size: 1.4rem;
  padding: 5px 0;
  color: #000000;
  outline: none;
}

.profile-container .rightbox .btn{
  text-transform: uppercase;
  font-size: 15px;
  border: 0;
  color: #fff;
  background: #fc7c7c;
  padding: 10px 20px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-top: 25px;
}

.settings i{
  font-size: 5rem;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
}




/* Payment Slip */

.paymentslip .img{
  width: 18rem;
  height: 12rem;
  margin-right: 1rem;
  background-color: rgb(219, 219, 219);
  border-radius: 5px 5px 5px 5px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  flex-direction: column;
  margin-top: 2rem;
}

.total-price table {
  border-top: 3px solid #fc7c7c;
  width: 100%;
  max-width: 400px;
}